DATABASE_URL=postgresql://postgres:SupabasePass123!@db.abcdefghijklmnop.supabase.co:5432/postgres
REDIS_URL=rediss://default:UpstashPass123@us1-fleet-12345.upstash.io:6380
QDRANT_URL=https://docsense-qdrant-demo.qdrant.tech
QDRANT_API_KEY=qdrant_demo_api_key_1234567890
COHERE_API_KEY=cohere_demo_api_key_1234567890
ANTHROPIC_API_KEY=anthropic_demo_api_key_1234567890
PORT=8000
RAG_PORT=8000
